/* global */

html, body
{
	height: 100%;
	margin: 0px;
	font-family: 'body', serif;
}

h1, h2, h3, h4, h5, h6
{
	font-family: 'title', sans-serif;
}

/* nav */

nav
{
	width: 18%;
	padding: 1%;
	height: 100%;
	position: fixed;
	border-right: 2px ridge;
	background: white;
	z-index: 1;
}

nav h1
{
	font-weight: bold;
	font-size: 3.5em;
	margin-bottom: 5px;
	text-align: center;
}

nav a
{
	text-decoration: none;
	color: black;
}

nav h2
{
	text-align: center;
	margin-bottom: 4px;
}

#nav-list
{
	list-style-type: circle;
	margin-left: 20px;
}

#nav-list li
{
	margin-top: 15px;
}

/* main */

#main
{
	width: 78%;
	padding: 1%;
	height: auto;
	position: absolute;
	right: 0px;
}

#main h1
{
	font-size: 2.7em;
	margin-bottom: 0.5em;
}

#main h2
{
	font-size: 2em;
	margin-bottom: 0.2em;
}

#main h3
{
	font-size: 1.5em;
	font-weight: normal;
	font-style: italic;
	margin-bottom: 0.1em;
}

#main p
{
	line-height: 1.1em;
}

#main pre
{
	line-height: 1.1em;
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 1em;
	width: 500px;
	background: #DDDDDD;
	word-wrap: break-word; /* IE5/6/7 support */
	white-space: pre-wrap;
	font-family: 'code';
}

#main a
{
	color: #454545;
	text-decoration: underline;
}

#main a:hover
{
	color: #101010;
}

#main .add-link
{
	color: #00C000;
	text-decoration: none;
	font-family: 'icon'; !important
}

#main .add-link:hover
{
	color: #00A000;
}

#main table
{
	margin-top: 10px;
	margin-bottom: 10px;
}

#main th
{
	background: lightgrey;
	font-family: 'title', sans-serif;
}

#main th, td
{
	min-width: 80px;
	max-width: 300px;
}

#main table, th, td
{
	border: 1px solid black;
	padding: 5px;
	text-align: left;
}

#main table .table-empty-cell
{
	font-style: italic;
	color: #BBB;
}

#main table .table-actions-cell
{
	text-align: center;
	vertical-align: middle;
	font-family: 'icon'; !important
}

#main table .table-actions-cell a
{
	text-decoration: none;
}

#main table .table-delete-action
{
	color: darkred;
}

#main table .table-edit-action
{
	color: orange;
}

#main table .table-primary-key-cell
{
	font-weight: bold;
}

#main table .table-primary-key-symbol
{
	font-weight: normal;
	color: #FFDF00;
	margin-right: 2px;
	font-family: 'icon'; !important
}

#main table .table-foreign-key-symbol
{
	font-weight: normal;
	color: #777777;
	margin-right: 2px;
	font-family: 'icon'; !important
}

#main label,  #main input
{
	display: inline-block;
}

#main label
{
	width: 100%;
	margin-bottom: 0.2em;
	font-weight: bold;
}

#main input
{
	width: 25%;
	margin-bottom: 0.6em;
	font-family: 'corps';
}

#main textarea
{
	width: 25%;
	padding: 0.5em;
	margin-bottom: 0.6em;
	font-family: 'corps';
	resize: none;
}

#main input[type="submit"]
{
	margin-top: 1em;
	width: auto;
}

@font-face
{
	font-family: 'title';
	src: url('../fonts/istok.ttf') format('truetype');
}

@font-face
{
	font-family: 'code';
	src: url('../fonts/sourcecode.otf');
}

@font-face
{
	font-family: 'body';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/lora.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face
{
	font-family: 'icon';
	src: url('../fonts/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
} /* https://icomoon.io/#preview-free */
