/* global */

html, body
{
	height: 100%;
	margin: 0px;
	font-family: serif;
}

h1, h2, h3, h4, h5, h6
{
	font-family: sans-serif;
}

/* nav */

nav
{
	width: 18%;
	padding: 1%;
	height: 100%;
	position: fixed;
	border-right: 2px ridge;
	background: white;
	z-index: 1;
}

nav h1
{
	font-weight: bold;
	font-size: 3.5em;
	margin-bottom: 5px;
	text-align: center;
}

nav h2
{
	text-align: center;
	margin-bottom: 4px;
}

#nav-list
{
	list-style-type: circle;
	margin-left: 20px;
}

#nav-list li
{
	margin-top: 15px;
}

/* main */

#main
{
	width: 78%;
	padding: 1%;
	height: auto;
	position: absolute;
	right: 0px;
}

#main h1
{
	font-size: 2.7em;
	margin-bottom: 0.5em;
}

#main h2
{
	font-size: 2em;
	margin-bottom: 0.2em;
}

#main table
{
	margin-top: 10px;
	margin-bottom: 10px;
}

#main th
{
	background: lightgrey;
}

#main th, td
{
	min-width: 80px;
	max-width: 300px;
}

#main table, th, td
{
	border: 1px solid black;
	padding: 5px;
	text-align: left;
}

#main table .table-empty-cell
{
	font-style: italic;
}

.special th { background: red; }
